.reposHeading {
    margin: 0%;
    padding: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-block: 1rem;
    border-bottom: 1px solid rgb(81, 81, 240);
    text-align: center;
    align-items: center;
    background-color: rgb(180, 194, 241);
}

.Header, .center, .loadButton, .HeaderRepo {
    margin-block: 1rem;
    text-align: center;
}

.HeaderRepo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 21px;
}

.pageButton {
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

.pageButton>button>a {
    color: #fff;
    text-decoration: none;
}